// Vars
@import url("vars.less");

// Mixins
// @import url("@{mixins}gradient.less");

// Components
@import url("@{path-components}core/less/core.less");
@import url("@{path-components}grid/less/grid.less");
@import url("@{path-components}texts/less/texts.less");
// @import url('@{path-components}image/less/image.less');
@import url('@{path-components}glyphicons/less/glyphicons.less');
// @import url('@{path-components}breadcrumbs/less/breadcrumbs.less'); // require: glyphicons
// @import url('@{path-components}panel/less/panel.less');
// @import url('@{path-components}list-group/less/list-group.less');
@import url('@{path-components}button/less/button.less');
// @import url('@{path-components}pagination/less/pagination.less');
// @import url('@{path-components}embed/less/responsive-embed.less');
// @import url('@{path-components}forms/less/forms.less');
@import url('@{path-components}button-groups/less/button-groups.less');
// @import url('@{path-components}input-groups/less/input-groups.less');
// @import url('@{path-components}tables/less/tables.less');
// @import url('@{path-components}dropdowns/less/dropdowns.less');
@import url('@{path-components}offcanvas/less/offcanvas.less');

/////
// @import url('@{path-components}datepicker/less/datepicker.less');
// @import url('@{path-components}typeahead/less/typeahead.less');
// @import url('@{path-components}scrollspy/less/scrollspy.less');
// @import url('@{path-components}affix/less/affix.less');
// @import url('@{path-components}tooltips/less/tooltip.less');
// @import url('@{path-components}popovers/less/popovers.less');

// MAIN

// header
.top-header {
  .clearfix();
  position: relative;
  overflow: hidden;
  background-color: @negro;
}

// menu
.menu {
  .space();
  width: 100%;
  padding: 15px 18px;
  background-color: @negro;

  .btn-group {
    .space(0);

    .btn {
      .button(@blanco, @blanco, @negro, @negro);
      .box-shadow(transparent, 0, 0, 0, 0);
      height: auto;
      // padding: 8px 5px 8px 5px;
      line-height: 160%;
    }
  }
}

// btn-offcanvas
.btn-offcanvas {
  .space();
  .button(@blanco, @blanco, @negro, @negro);
  margin-top: @space;
}

// footer
.footer {
  .text(@font-base, 12px, 400, normal, @blanco, left, none, 160%);
  padding: 22px 18px 30px;
  background-color: @negro;

  .footer-links {
    .space(0);
    text-align: right;

    a {
      .link(@blanco, @blanco, underline, underline);
    }
  }
}

// cargandos
.cargando,
.cargando-2 {
  position: absolute;
  z-index: 998;
}

.cargando {
  top: 47%;
  left: 50%;
  height: 40px;
  width: 40px;
}

.cargando-2 {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background: url('@{path-images}cargando-2.gif') no-repeat center 50px #FFF;
  background-size: 55px;
}

// GRID COMPONENT
// XS
@media (max-width: @screen-xs-max) {
  .menu {
    padding: 10px 18px;

    .btn {
      display: block;
      width: 100%;
    }
  }

  .footer {
    text-align: center;

    .footer-links {
      text-align: center;
    }
  }
}
// SM
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .menu {
    padding: 10px 18px;

    .btn {
      display: block;
      width: 100%;
    }
  }
}
// MD
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {}
// LG
@media (min-width: @screen-lg-min) {}
// Specials breakpoints
// XS & SM
@media (max-width: @screen-sm-max) {}
// NO XS (todas las resoluciones menos XS)
@media (min-width: @screen-sm-min) {}
